body {
  font-family: Orbitron !important;
  background-color: #090215;
}

body h4, h3, h5, p {
  color: whitesmoke;
}

.webcam-stream {
  transform: scaleX(-1);
}

#video-output {
  transform: scaleX(-1);
  border: 3px solid rgb(114, 107, 107);
}

#welcom-bg {
  background-color: #090215;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#welcom-bg-container {
  color: whitesmoke;
}

#main-canvas canvas {
  color: #F0E6FE;
  border: 3px solid hotpink;
}

@media all and (min-width: 450px) {
  :root {
    --webcam-width: 17vw;
  }
}

@media all and (max-width: 450px) {
  :root {
    --webcam-width: 35vw;
  }
}

.webcam-position {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: var(--webcam-width);
}

#how-to-play {
  position: fixed;
  bottom: 0;
  left: 0;
}

#newsletter {
  position: fixed;
  bottom: 0;
  right: 0;
}

#find-me-on-yt {
  background-color: #ed302f;
}

#nav-text {
  line-height: 0.5;
}

#main-nav {
  background-color: #240650;
  color: #F7F7F8;
}

#main-nav p {
  color: #FB35F3;
}

#main-nav .btn#connect-wallet {
  color: white;
  background-color: #6E19F8;
}

#play-btn {
  background-color: #6E19F8;
  color: #F0E6FE;
}

#welcom-bg-container h5 {
  color: #FB35F3;
}

#welcom-bg-container .pxl-art {
  color: chartreuse;
}

#welcom-bg-container p {
  color: #4c555e;
}

#aavegotchi-preview {
  max-width: 180px;
  max-height: 180px;
}

#gotchi-traits ul li {
  border: none;
  background-color: #090215;
  color: #F0E6FE;
  text-align: left;
  word-spacing: 10px;
}

#gotchi-traits ul {
  margin-top: 5%;
}

#previewed-gotchi-section {
  width: 29%;
}

.stats-num {
  color: yellowgreen;
}

#title-and {
  color: aqua;
}

#title-move {
  color: chocolate;
}

#chrome-icon {
  width: 30px;
  height: 30px;
  display: inline;
}

#score-info table {
  width: 15%;
}

#previewed-gotchi-section {
  padding: 0;
  width: 100%;
  height: auto;
}

#previewed-gotchi-section .row .col:nth-child(1) {
  text-align: right;
  padding-top: 1.6%;
}